- @title = "Syan's Wardrobe"
- @bodyclass = "newproject"

%h4.c-gray=t(:slogan_blog)
%a.btn.btn-success.pull-right{ "href" =>"https://github.com/nekokami/Syan-s-Wardrobe", "target"=>"_blank"}
	%i.icon-white.icon-book
%h1=I18n.t(:blogs)
%hr
%h3=blog.local_articles[0].title
=blog.local_articles[0].body
%b=blog.local_articles[0].date.strftime("%B %d %Y")
%hr